/*@media screen and (max-width: 1000px) {
    #content, aside {
        width: 100%;
        padding: 0;
    }
    html {
        scroll-behavior: smooth;
    }
    body {
        margin : 0;
        padding : 0; 
        font-family: Muli, Futura, Helvetica, Arial, sans-serif;
        font-weight: normal;
        color: azure;
        background-color: #4e2ce6;
        width: 100%;
    }
    .container {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    border-radius: 5px;
    display: inline;
    }
    /*.jumbotron {
        text-align: center;
        object-position: ;
        background-color: #111d3b;
    }
    nav li {
        display : inline;
        list-style-type : none;
        margin-right : 20px;
        }
    nav a {
        font-size: medium;
        font-weight: 400;
        text-decoration: none;
        color: azure;
    }
    nav {
        background-color : #171a21;
        width: 100%;
        padding : 5px;
        position: fixed;
        object-position: top;
        top : 0;
        box-sizing: border-box;
        border-radius: 0 0 4px 4px;
        box-shadow : 0 4px 15px 0 rgb(0, 0, 0, 0.2);
    }
    .navigasi {
        display: inline;
    }
    nav li {
        display : inline;
        list-style-type : none;
        margin-right : 20px;
        text-align: right;
        }
    nav a {
        font-size: medium;
        font-weight: 400;
        text-decoration: none;
        color: azure;
    }
    nav {
        background-color : #171a21;
        padding : 5px;
        position : sticky;
        top : 0;
        box-sizing: border-box;
        border-radius: 0 0 4px 4px;
        box-shadow : 0 4px 15px 0 rgb(0, 0, 0, 0.2);
    
    }
    .psp {
        background-color : #111d3b;
        width: 100%;
        padding : 5px;
        top : 0;
        box-sizing: border-box;
        border-radius: 0 0 4px 4px;
        box-shadow : 0 4px 15px 0 rgb(0, 0, 0, 0.2);
    }
    #fighting img,
    #rpg img,
    #sports img {
        height: 300px;
    }
    .street-img {
        height: 200px;
    }
    #fighting,
    #sports,
    #rpg {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding : 20px;
        position: relative;
        top: 20px;
        box-sizing: border-box;
        border-radius: 0 0 4px 4px;
        box-shadow : 0 4px 15px 0 rgb(0, 0, 0, 0.2);
        justify-items: baseline;
    }
    .flex-naruto p {
        flex-direction: row;
    }
    aside img {
        border-radius: 50%;
        height: 200px;
    }
    div h2 {
        position: relative;
        left: 40px;
    }
    #111d3b
    */
    /*
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');.profile{font-family:'Quicksand',sans-serif;text-align:center}
    .profile img{
        width:200px
    }
    html {
        scroll-behavior: smooth;
    }
    nav a:hover{
        font-weight:bold
    }
    body{
        font-family: Muli, Futura, Helvetica, Arial, sans-serif;margin:0;padding:0
    }
    main{
        padding:20px;overflow:auto
    }
    h2,h3{
        color:#00a2c6;font-family: Muli, Futura, Helvetica, Arial, sans-serif;
    }
    footer{
        padding:20px;color:white;background-color:#00a2c6;text-align:center;font-weight:bold
    }
    #content{
        box-shadow:0 4px 15px 0 rgba(0,0,0,0.2);border-radius:0 0 4px 4px;padding:20px;margin-top:20px
    }
    .jumbotron{
        padding:60px;background-color:#00c8eb;text-align:center;font-size:20px;color:white
    }
    nav li{
        display:inline;list-style-type:none;margin-right:20px
    }
    nav{
        background-color:#00a2c6;padding:5px;position:sticky;top:0
    }
    nav a{
        font-size:18px;font-weight:400;text-decoration:none;color:white
    }
    #content{
        float:left;width:75%
    }
    aside{
        float:right;width:25%;padding-left:20px
    }
    *{
        box-sizing:border-box
    }
    @media screen and (max-width: 1000px){
        #content,
        aside{width:100%;padding:0}}header{display:inline}*/


*{
    box-sizing: border-box;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    color: azure;
    background-color: #4e2ce6;
    font-family: "rubik", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}
html{
    scroll-behavior: smooth;
}
/*nav li{
    display:inline;list-style-type:none;background-color: solid;margin: 0;
}*/
.navAtas{
    list-style-type:none;
    background-color: #111d3b;
    z-index: 1;overflow: hidden;
    background-color: solid;padding:7px;position:fixed;top:0;left: 0;right: 0;box-shadow:0 7px 15px 0 rgba(0,0,0,0.2);
}
.navAtas a{
    font-size:17px;font-weight:400;text-decoration:none;color:white;
    padding: 14px 16px;margin: 0;text-align: center;float: left;text-decoration: none;
    display:block;background: local;margin: 0;
}
.navAtas a.active {
    background-color: #4e2ce6;
    height: auto;
    border-radius: 20px;
}
.navAtas a:hover{
    background-color: darkorchid;
    box-shadow: 0 4px 10px 0 rgba(0, 71, 249, 0.2);
    text-shadow: 2px 2px #111d3b;
    border-radius: 50px;
}
nav.icon {
    display: none;
    background: local;
}
.jumbotron{
    margin: 0 0 0 0;
    padding: 60px;
    background-image:linear-gradient(#000000, #4e2ce6);
    background-repeat: repeat-x;
    text-align: center;
    width: 100%;
    position: relative;
    top: 20px;
}
h2,h3 {
    color: azure;
    padding: 10px;
}
.jumbotron h2,p {
    width: 100%;
    color: aliceblue;
    background: local;
}
main{
    padding:20px;
}

.img {
    width: 100%;
    float: left;
    max-height: 300px;
    background-color: #4e2ce6;
}
#saya {
    border-radius: 50%;
    max-height: 150px;
    box-shadow: 20px;
    padding: 2px;
    margin: 5px;
    position: relative;
    bottom: 5px;
}
.card {
    overflow: auto;
    width: 100%;
    height: 400px;
    padding: 15px;
    background-color: #111d3b;
    border-radius:20px;
    margin: revert;
}
.card p {
    background-color: #111d3b;
    padding: 10px;
    color: azure;
}
p img {
    height: 300px;
    float: left;
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
    margin-left: 10px;
    position: relative;
    box-shadow:0 7px 15px 0 rgba(0,0,0,0.2);
    bottom: 20px;
}
.psp-img {
    height: 100px;
}
#content h1 {
    padding: 10px;
    border-radius: 10px;
}
aside {
    overflow: auto;
    width: 100%;
    height: 400px;
    padding: 15px;
    background-color: #111d3b;
    box-shadow:0 7px 15px 0 rgba(0,0,0,0.2);border-radius:20px;
    margin-top: 20px;
    text-align: center;
}
.profile {
    width: auto;
    box-shadow:0 7px 15px 0 rgba(0,0,0,0.2);border-radius:20px;
}
aside header,section {
    border-radius: 20px 20px 20px 20px;
}
footer {
    padding:20px;color:white;background-color:#111d3b;text-align:center;font-weight:bold;position: relative;top 10px
}
@media screen and (max-width: 1000px) {
    p img {
        height: 150px;
    }
    p {
        font-size: larger;
    }
}
@media screen and (max-width: 600px) {
    .navAtas a:not(:first-child){
        display: none;
    }
    .navAtas a.icon {
        float: right;
        display: block;
    }
}
@media screen and (max-width: 600px) {
    .navAtas.responsive {
        position: fixed;
    }
    .navAtas.responsive.icon {
        position: absolute;
        right: 0;
        top: 0;
        background-color: #4e2ce6;
    }
    .navAtas.responsive a {
        float: left;
        display: block;
        text-align: left;
    }
    .navAtas.responsive.a:hover{
        background-color: darkorchid;
        box-shadow: 0 4px 10px 0 rgba(0, 71, 249, 0.2);
        text-shadow: 2px 2px #111d3b;
        border-radius: 50px;
    }
}