/*@media screen and (max-width: 1000px) {
    #content, aside {
        width: 100%;
        padding: 0;
    }*/
body {
    margin : 0;
    padding : 0; 
    font-family: Muli, Futura, Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: azure;
    background-color: #4e2ce6;
}
header {
    box-sizing: border-box;
    border-radius: 5px;
    display: inline;
}
.jumbotron {
    background-color: #111d3b;
    /*background-color: #111d3b;*/
    padding: 50px;
    top: 0;
    color: azure;
    font-family: Muli, Futura, Helvetica, Arial, sans-serif;
}
h2 ~ p {
    align: center;
}
.navigasi {
    display: inline;
}
nav li {
    display : inline;
    list-style-type : none;
    margin-right : 20px;
    }
nav a {
    font-size: medium;
    font-weight: 400;
    text-decoration: none;
    color: azure;
}
nav {
    background-color : #171a21;
    padding : 5px;
    position : sticky;
    top : 0;
    box-sizing: border-box;
    border-radius: 0 0 4px 4px;
    box-shadow : 0 4px 15px 0 rgb(0, 0, 0, 0.2);

}
.flex-psp {
    display: flex;
}
main div {
    flex-direction: row;
    flex-basis: 25%;
}
.flex-psp {
    position: relative;
    display: flex;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    background-color: #111d3b;
    background-clip: border-box;
    border: 1px solid #4e2ce6;
    border-radius: 0 0 4px 4px;
    padding: 10px;
    margin: 20px;
    margin-top: 0;
  }
.psp-image {
    flex-grow: 3;
    margin: 5px;
    border: 2px #4e2ce6;
    max-width: 100%;
    border-radius: 10px;
    text-align: center;
    zoo
    height: 200px;
}
.psp-desc {
    flex-grow: 2;
    flex-basis: 75%;
    border-radius: 5px;
}
.flex-psp section {
    text-align: justify;
    margin: 4px;
}